:root {
  --green-gray-scale-900: #002603;
  --green-gray-scale-800: #173b1a;
  --green-gray-scale-700: #2b572e;
  --green-gray-scale-600: #406b42;
  --green-gray-scale-500: #618062;
  --green-gray-scale-400: #7a997c;
  --green-gray-scale-300: #96b297;
  --green-gray-scale-200: #b4ccb4;
  --green-gray-scale-100: #dae5da;
  --green-gray-scale-50: #edf2ee;
  --gray-scale-gray---900: #1a1a1a;
  --gray-scale-gray---800: #333;
  --gray-scale-gray---700: #4d4d4d;
  --gray-scale-gray---600: #666;
  --gray-scale-gray---500: #808080;
  --gray-scale-gray---400: #999;
  --gray-scale-gray---300: #b3b3b3;
  --gray-scale-gray---200: #ccc;
  --gray-scale-gray---100: #e5e5e5;
  --gray-scale-gray---50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;
  --font-family: "Poppins", sans-serif;
  --second-family: "Segoe Script", sans-serif;
  --third-family: "Dancing Script", sans-serif;
}

body {
  font-family: var(--font-family);
}

/* ================ CSS heading START ================ */
#heading {
  background: var(--gray-scale-gray---800);
  color: var(--gray-scale-white);
  /* color: red; */
  padding: 10px;
  align-items: center;
}

#heading .location {
  display: inline-block;
  align-items: center;
  line-height: 0;
  color: var(--gray-scale-gray---300);
}

#heading .location_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray---300);
  padding-left: 8px;
}

#heading .heading_right {
  /* background-color: red; */
  display: flex;
  justify-content: right;
}

#heading .heading_right select {
  /* background-color: red; */
  background: transparent;
  border: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: var(--gray-scale-gray---300);
}

#heading .heading_right .heading_right_secondary a {
  /* background-color: red; */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray---300);
  text-decoration: none;
}

#heading .heading_right .heading_right_line {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray---300);
}

#heading .heading_right .divider {
  color: rgba(255, 255, 255, 0.3);
  margin: 0 10px;
}

/* ================ CSS heading END ================ */

/* ================ CSS heading 2 START ================ */
#secondary_heading .search_bar {
  display: flex;
  position: relative;
}

#secondary_heading .search_bar input {
  width: 80%;
  padding: 12px;
  padding-left: 30px;
  border: 1px solid var(--gray-scale-gray---500);
  border-radius: 6px 0 0 6px;
}

#secondary_heading .search_bar input:focus {
  outline: none;
}

#secondary_heading .search_icon {
  position: absolute;
  top: 30%;
  left: 10px;
}

#secondary_heading .search_btn {
  background: var(--branding-success);
  border: none;
  border-radius: 0 6px 6px 0;
  color: var(--gray-scale-white);
  padding: 0 24px;
}

#secondary_heading .cart_parent {
  display: flex;
  justify-content: end;
  align-items: center;
  line-height: 0px;
}

#secondary_heading .shopping_bag {
  display: flex;
  position: relative;
}

#secondary_heading .shopping_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: var(--gray-scale-gray---700);
}

#secondary_heading .price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--gray-scale-gray---900);
}

#secondary_heading .margin_l {
  margin-left: 12px;
}

#secondary_heading .count {
  background-color: var(--branding-success-dark);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: var(--gray-scale-white);
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: var(--gray-scale-white);

  position: absolute;
  left: 15px;
}

#secondary_heading .bar {
  width: 2px;
  height: 24px;
  background-color: #cccccc;
  margin: 0 16px;
}

/* ================ CSS heading 2 END ================ */

/* ================ CSS navigation START ================ */
#nav {
  background: var(--gray-scale-gray---50);
}

#nav .category_bar {
  /* background-color: red; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  background-color: #00b207;
  border: none;
}

#nav li {
  /* background-color: red; */
  display: inline-flex;
  align-items: center;
}

#nav .dropdown-toggle::after {
  display: none;
}

#nav .main_text {
  margin: 0 8px;
  padding: 8px 0;
}

#nav .dropdown-menu.show {
  border-radius: 0%;
  width: 100%;
  border: none;
  background: #f5f1f1;
}

#nav .dropdown-menu.show li {
  width: 100%;
}

#nav .dropdown-menu.show .dropdown-item {
  padding: 8px 10px;
}

#nav .dropdown-link {
  background-color: transparent;
  color: #000;
  border: none;
  display: inline-flex;
  line-height: 0px;
  align-items: center;
}

#nav .phone {
  /* background-color: red; */
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  line-height: 0px;
}

#nav .phone a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin-left: 5px;
}

#nav .mobile_menu_bar {
  background-color: transparent;
  margin: 0;
  padding: 5px;
  border: none;
  display: inline-flex;
  align-items: center;
  line-height: 0;
  border-radius: 0%;
  color: #000;
}

.offcanvas {
  max-width: 350px !important;
  width: 80% !important;
  /* background-color: red; */
}

/* ================ CSS navigation END ================ */

/* ================ CSS banner START ================ */
/* #banner {
  position: relative;
} */

#banner h6 {
  margin-top: 70px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: left;
  color: var(--branding-success);

}

#banner h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  color: var(--green-gray-scale-900);
}

#banner p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--green-gray-scale-500);

}

#banner a {
  /* margin-top: 20px; */
  background: var(--branding-success);
  color: #fff;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  line-height: 0;
  font-size: 16px;
  text-decoration: none;

  padding: 16px 40px;
  border-radius: 43px;
}

#banner a span {
  margin-left: 16px;
}

#banner a:hover {
  background-color: transparent;
  outline: 1px solid #00b207;
  color: #00b207;
}

#banner .offer_parent {
  position: relative;
}

#banner .offer {
  position: absolute;
  background: #FF8A00;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  right: 20px;
  top: 64px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

#banner .offer h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--gray-scale-white);

}

#banner .offer span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--gray-scale-white);

}

.slick-dots {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  list-style-type: none;

}

.slick-dots button {
  background-color: #B4CCB4;
  color: transparent;
  width: 12px;
  height: 12px;
  border: none;
  margin: 0 4px;

  border-radius: 20px;
}

.slick-dots .slick-active button {
  background-color: #00B207;
  width: 25px;

}

#banner .right {
  /* background: red; */
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);

  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  border: 1px solid #DAE5DA;

  cursor: pointer;
}

#banner .left {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);

  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  border: 1px solid #DAE5DA;

  cursor: pointer;
  z-index: 100;

}

/* ================ CSS banner END ================ */

/* ================ CSS features START ================ */
/* min-try (+A.) */
#features {
  margin-top: 50px;
  margin-bottom: 30px;
  /* width: 1320px;
  height: 222px; */
}

#features .feature_box {
  padding: 15px 30px;
  border: 1px solid var(--gray-scale-gray---100);
  transition: 0.2s;

}

#features .feature_box:first-child {
  border-radius: 8px 0 0 8px;
}

#features .feature_box:last-child {
  border-radius: 0 8px 8px 0;
}

#features .feature_box:hover {
  background: var(--branding-success);
  color: var(--gray-scale-white);
}

#features .feature_box:hover h4,
#features .feature_box:hover p {
  color: var(--gray-scale-white);
}

#features .feature_box .icon span {
  width: 70px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--branding-success);
  border: 1px solid var(--gren-gray-scale-100);
  border-radius: 50%;
  background-color: #fff;

}

#features .feature_title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
}

#features .feature_description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---400);
}

/* ================ CSS features END ================ */

/* ================ CSS products START ================ */
#products {
  margin: 100px 0;
  /* height: 100vh; */
}

#products .heading h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gray-scale-gray---900);

}

#products .btn_wrapper {
  display: flex;
  justify-content: center;
}

#products .btn_wrapper button {
  border: none;
  margin: 0 10px;
  position: relative;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray---500);
  background: transparent;
  padding: 8px;

  border-bottom: 3px solid transparent;

  /* display: inline-block; */

}

#products .btn_wrapper button::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 1PX;
  top: 50%;
  transform: translateY(-50%);

  background-color: #808080;
  right: -10px;
}

#products .btn_wrapper button:last-child::after {
  display: none;
}

#products .btn_wrapper button:hover {
  color: var(--branding-success);
  background-color: #edf2ee;

  border-bottom: 3px solid #00B207;
}

#products .filter {
  padding: 20px;
  border: 1px solid var(--green-gray-scale-100);
  position: relative;
}

#products .filter:hover {
  border: 1px solid var(--branding-success-dark);

  box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
  background: var(--gray-scale-white);
}

#products .rating {
  list-style-type: none;
  display: flex;
  text-align: left;
  padding: 0px;
  margin: 0px;

}

#products .rating li {
  color: #FF8A00;

}

#products .rating .non_active {
  color: #cccccc;
}

#products .card_contains {
  padding: 0px;

}

#products .card_details {
  display: flex;

}

#products .card_details .first_content {
  width: 70%;
}

#products .card_details h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--green-gray-scale-700);
  margin: 0px;


}

#products .card_details b {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--green-gray-scale-900);

}

#products .card_details del {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: line-through;
  color: var(--green-gray-scale-400);

}

#products .card_bag {
  background-color: #DAE5DA;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

}

#products .card_bag:hover {
  background-color: #00B207;
  color: #fff;
}

#products .icons {
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.3s;
}

/* #products .filter:hover .icons{
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);

} */
/* #products .filter:hover .icons li:nth-child(2){
  transition-delay: 0.2s;
  
} */

#products .icons ul button {
  transform: translateX(-60px);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

#products .filter:hover .icons ul button {
  transform: translateX(0px);
  transition: 0.5s;
  visibility: visible;
  opacity: 1;

}

#products .filter:hover .icons ul li:nth-child(2) button {
  transition-delay: 0.2s;
}

#products .icons ul {
  list-style-type: none;

}

#products .icons ul button {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #002603;
  margin-bottom: 10px;
}

.custom-tooltip {
  --bs-tooltip-bg: #00B207;
  --bs-tooltip-color: var(--bs-white);
}

#products .sale {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #EA4B48;

  padding: 5px 10px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);

  border-radius: 4px;

  visibility: hidden;
  opacity: 0;
}

#products .filter:hover .sale {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

/* ================ CSS products END ================ */

/* ================ CSS drink_plus START ================ */
#drink_plus {
  margin-top: 300px;
  padding: 40px;
}

#drink_plus .banner_one {
  width: calc(33.33%-12px);
  background-image: url('../images/drinks_plus/1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border-right: 8px; */
  padding: 28px 24px;
  width: 424px;
  height: 255px;
}

#drink_plus .banner_two {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  width: calc(33.33%-12px);
  background-image: url('../images/drinks_plus/2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border-right: 8px; */
  padding: 28px 24px;
  width: 424px;
  height: 255px;
  text-align: left;
}

#drink_plus .banner_three {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: calc(33.33%-12px);
  background-image: url('../images/drinks_plus/3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border-right: 8px; */
  padding: 28px 24px;
  width: 424px;
  height: 255px;
}

/* ================ CSS drink_plus END ================ */

/* ================ CSS timer START ================ */
#timer {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#timer .container {
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;

}

#timer p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--branding-success);

}

#timer h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gren-gray-scale-900);

}

#timer a {
  margin-top: 20px;
  background: var(--branding-success);
  color: #fff;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  line-height: 0;
  font-size: 16px;
  text-decoration: none;

  padding: 16px 40px;
  border-radius: 43px;
}

#timer a span {
  margin-left: 16px;
}

#timer a:hover {
  background-color: transparent;
  outline: 1px solid #00b207;
  color: #00b207;
}

#timer .parent {
  display: flex;
  justify-content: space-between;
  color: #777;

  margin: 32px 0;


}

#timer .timer_box {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--branding-success);

}

#timer .timer_parent_box {
  background: #fff;
  width: 96px;
  height: 96px;
  padding: 20px;
  border-radius: 6px;
  position: relative;
}

#timer .timer_parent_box span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--green-gray-scale-500);

}

#timer .timer_parent_box::after {
  content: ':';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -9%;
}

#timer .timer_parent_box:last-child::after {
  display: none;
}

/* ================ CSS timer END ================ */


/* ================ CSS ad START ================ */

/* ================ CSS ad END ================ */


/* ================ CSS porduct details - image START ================ */
#product_details .slider-nav div {
  width: 80px;
}

#product_details .slick-vertical {
  padding-left: 20px;
}

#product_details .top {
  margin-left: 32px;
}

#product_details .down {
  margin-left: 32px;
}

/* ================ CSS porduct details - image END ================ */




/* (A. - try) */

/* ================ CSS featured products START ================ */
#featured_products {
  padding: 80px 0;
}

#featured_products .head h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gren-gray-scale-900);
  margin-bottom: 40px;
}

#featured_products .filter_body {
  width: 20%;
}

#featured_products .filter {
  padding: 20px;
  border: 1px solid var(--green-gray-scale-100);
  position: relative;
}

#featured_products .heading h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--gray-scale-gray---900);

}

#featured_products .btn_wrapper {
  display: flex;
  justify-content: center;
}

#featured_products .btn_wrapper button {
  border: none;
  margin: 0 10px;
  position: relative;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray---500);
  background: transparent;
  padding: 8px;

  border-bottom: 3px solid transparent;

  /* display: inline-block; */

}

#featured_products .btn_wrapper button::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 1PX;
  top: 50%;
  transform: translateY(-50%);

  background-color: #808080;
  right: -10px;
}

#featured_products .btn_wrapper button:last-child::after {
  display: none;
}

#featured_products .btn_wrapper button:hover {
  color: var(--branding-success);
  background-color: #edf2ee;

  border-bottom: 3px solid #00B207;
}

#featured_products .filter {
  padding: 20px;
  border: 1px solid var(--green-gray-scale-100);
  position: relative;
}

#featured_products .filter:hover {
  border: 1px solid var(--branding-success-dark);

  box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
  background: var(--gray-scale-white);
}

#featured_products .rating {
  list-style-type: none;
  display: flex;
  text-align: left;
  padding: 0px;
  margin: 0px;

}

#featured_products .rating li {
  color: #FF8A00;

}

#featured_products .rating .non_active {
  color: #cccccc;
}

#featured_products .card_contains {
  padding: 0px;

}

#featured_products .card_details {
  display: flex;

}

#featured_products .card_details .first_content {
  width: 70%;
}

#featured_products .card_details h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--green-gray-scale-700);
  margin: 0px;


}

#featured_products .card_details b {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--green-gray-scale-900);

}

#featured_products .card_details del {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: line-through;
  color: var(--green-gray-scale-400);

}

#featured_products .card_bag {
  background-color: #DAE5DA;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

}

#featured_products .card_bag:hover {
  background-color: #00B207;
  color: #fff;
}

#featured_products .icons {
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.3s;
}

#featured_products .icons ul button {
  transform: translateX(-60px);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

#featured_products .filter:hover .icons ul button {
  transform: translateX(0px);
  transition: 0.5s;
  visibility: visible;
  opacity: 1;

}

#featured_products .filter:hover .icons ul li:nth-child(2) button {
  transition-delay: 0.2s;
}

#featured_products .icons ul {
  list-style-type: none;

}

#featured_products .icons ul button {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #002603;
  margin-bottom: 10px;
}

.custom-tooltip {
  --bs-tooltip-bg: #00B207;
  --bs-tooltip-color: var(--bs-white);
}

#featured_products .sale {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #EA4B48;

  padding: 5px 10px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);

  border-radius: 4px;

  visibility: hidden;
  opacity: 0;
}

#featured_products .filter:hover .sale {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

/* ================ CSS featured products END ================ */

/* ================ CSS product_details START ================ */
#product_details {
  /* font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: var(--gray-scale-gray---900);
  margin-bottom: 16px; */
}

#product_details .rate {
  /* display: flex; */
}

#product_details {}

/* ================ CSS product_details END ================ */


/* ================ CSS Wishlist START ================ */
/* breadcrumb */
.breadcrumb_bg {
  background-image: url('../images/wishlist/details_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 48px 0;
}

.breadcrumb_bg p {
  display: inline-flex;
  align-items: center;
  line-height: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray-scale-gray---400);
  margin: 0;
}

.breadcrumb_bg p span {
  margin: 0 8px;
}

.breadcrumb_bg p span:last-child {
  color: var(--branding-success);
}

/* breadcrumb end */

/* wishlist */
.wishlist {
  padding: 40px 0 60px 0;
}

.wishlist .head h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--gray-scale-gray---900);
  margin-bottom: 24px;
}

.wishlist .wishlist_body {
  border: 1px solid var(--gray-scale-gray---100);
  border-radius: 8px;
}



.wishlist .wishlist_table_body .image_text h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin: 0;
}

.wishlist .wishlist_table_body .price span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
}

.wishlist .wishlist_table_body .stock .stock-in {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--branding-success-dark);
  background: rgba(32, 181, 38, 0.2);
  border-radius: 4px;
  padding: 4px 8px;
}

.wishlist .wishlist_table_body .stock .stock-out {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--branding-error);
  background: rgba(234, 75, 72, 0.2);
  border-radius: 4px;
  padding: 4px 8px;
}

.wishlist .wishlist_table_body .action .add-to-cart-wishlist {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-white);
  border-radius: 43px;
  padding: 14px 32px;
  background: var(--branding-success);
  border: none;
}

.wishlist .wishlist_table_body .action .btn-disabled {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-gray---300);
  border-radius: 43px;
  padding: 14px 32px;
  background: var(--gray-scale-gray---50);
  border: none;
  cursor: not-allowed;
}

.wishlist .wishlist_table_body .action span {
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--gray-scale-gray---600);
  border: 1px solid var(--gray-scale-gray---200);
  border-radius: 50%;
  margin-left: 24px;
}

.wishlist .wishlist_table_body section {
  border-bottom: 1px solid var(--gray-scale-gray---100);
}

.wishlist .wishlist_table_body section:last-child {
  border-bottom: none;
}

.wishlist .wishlist_table_body {
  padding: 0 24px;
}

.wishlist .heading_row {
  width: 100%;
  margin: 0;
  padding: 12px 24px;
  border-bottom: 1px solid var(--gray-scale-gray---100);
}

.wishlist .heading_row span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--gray-scale-gray---500);
}

.wishlist .share {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border-top: 1px solid var(--gray-scale-gray---100);
}

.wishlist .share .title span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
}

.wishlist .share .icons {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.wishlist .share .icons span {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.wishlist .share .icons span:hover {
  background-color: var(--branding-success);
  color: #fff;
}

/* wishlist end */

/* ================ CSS Wishlist END ================ */

/* ================ CSS cart START ================ */
#cart_summary {
  padding: 40px 0 60px 0;
}

#cart_summary .head h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: var(--gray-scale-gray---900);
  margin-bottom: 32px;
}


#cart_summary .cart_table {
  border: 1px solid var(--gray-scale-gray---100);
  border-radius: 8px;
}

#cart_summary .title_row {
  margin: 0;
  padding: 8px 12px;
  border-bottom: 1px solid var(--gray-scale-gray---100);
}


#cart_summary #cartTableBody {
  padding: 0 12px;
}

#cart_summary #cartTableBody section {
  border-bottom: 1px solid var(--gray-scale-gray---100);
}

#cart_summary #cartTableBody section:last-child {
  border: none;
}


#cart_summary .title_row .text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--gray-scale-gray---500);
}

#cart_summary .qty-control .qty-increase,
#cart_summary .qty-control .qty-increase {
  width: 27px;
  height: 27px;
  background: var(--gray-scale-gray---50);
  border-radius: 170px;
  border: none;
  color: #000;
}

/* listing case */
#cart_summary .cart_table .prod_info .prod_row {
  width: 100%;
}

#cart_summary .cart_table .prod_info {
  display: flex;
  gap: 12px;
  align-items: center
}

#cart_summary .cart_table img {
  width: 100px;
  border-radius: 4px
}

/* listing case end */

/* qantity controls */

#cart_summary .qty_control {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--gray-scale-gray---100);
  border-radius: 170px;
  padding: 6px;
  background: var(--gray-scale-white);
}

#cart_summary .qty_display {
  min-width: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--gray-scale-gray---900);
}

#cart_summary .cart_table .cart_controls {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-top: 1px solid var(--gray-scale-gray---100);
}

#cart_summary .cart_table .cart_controls .update button,
#cart_summary .cart_table .cart_controls .return a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: var(--gray-scale-gray---700);
  border-radius: 43px;
  padding: 12px 24px;
  background: var(--gray-scale-gray---50);
  border: none;
  text-decoration: none;
}


/* coupon */

#cart_summary .coupon form {
  display: flex;
  align-items: center;
  position: relative;
}

#cart_summary .coupon input {
  height: 100%;
  width: 100%;
  border: 1px solid var(--gren-gray-scale-100);
  border-radius: 46px;
  padding: 14px 24px;
  outline: none;
}

#cart_summary .coupon button {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: var(--gray-scale-gray---800);
  border-radius: 43px;
  padding: 14px 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray-scale-white);
}

#cart_summary .coupon .text span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
}

#cart_summary .coupon {
  padding: 20px;
  border: 1px solid var(--gray-scale-gray---100);
  border-radius: 8px;
  margin-top: 24px !important;
}

#cart_summary .coupon form input {
  border: 1px solid var(--green-gray-scale-100);
  border-radius: 46px;
  padding: 14px 24px;
  width: 531px;
  height: 52px;
}

#cart_summary {}

#cart_summary {}

/* coupon end */


/* box on right */
#cart_summary .cart_summary_right h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin-bottom: 7px;
}

#cart_summary .cart_summary_right .box {
  padding: 24px;
  border: 1px solid var(--gray-scale-gray---100);
  border-radius: 8px;
}

#cart_summary .cart_summary_right .box a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray-scale-white);
  background: var(--branding-success);
  border-radius: 43px;
  padding: 16px 00px;
  text-decoration: none;
}

#cart_summary .summary_row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  box-shadow: 0 1px 0 0 #e5e5e5
}

#cart_summary .summary_row span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---700);
}

#cart_summary .summary_total {
  padding: 12px 0;
}

#cart_summary .summary_total span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray---700);
}

#cart_summary .summary_total span b {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray-scale-gray---900);
}

#cart_summary .summary_row .subtotal {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
}

#cart_summary .summary_row .free {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
}

.summary_total {
  display: flex;
  justify-content: space-between;
  align-items: center
}

/* for js */
#cart_summary .item_remove {
  display: flex;
  align-items: center;
  justify-content: end;
}

#cart_summary .remove_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cart_summary .item_remove span {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--gray-scale-gray---600);
  border: 1px solid var(--gray-scale-gray---200);
  border-radius: 50%;
}


/* ================ CSS cart END ================ */

/* ================ CSS billing START ================ */

/* manual + (A. - try) */

#billing {
  padding: 40px 0 60px 0;
}

#billing .form_head h4,
#billing .additional h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
}

#billing .billing_form form .row {
  margin-bottom: 16px;
}

#billing .billing_form label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin-bottom: 5px;
}

#billing .billing_form input {
  width: 100%;
  padding: 8px 16px;
  background: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray---100);
  border-radius: 6px;
  outline: none;
}

#billing .billing_form select {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray-scale-gray---400);
  width: 100%;
  padding: 8px 16px;
  background: var(--gray-scale-white);
  border: 1px solid var(--gray-scale-gray---100);
  border-radius: 6px;
  outline: none;
}

#billing .billing_form input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray-scale-gray---400);
}

#billing .billing_form form .check {
  display: flex;
  align-items: center;
  padding: 4px 0 32px 0;
  border-bottom: 1px solid var(--gray-scale-gray---100);
}

#billing .billing_form form .check input {
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray-scale-gray---200);
  border-radius: 3px;
}

#billing .billing_form form .check label {
  margin: 0;
  margin-left: 6px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---700);
}

/*block - 1*/

#billing .order-summary {
  padding: 24px;
  border: 1px solid var(--gray-scale-gray---100);
  border-radius: 8px;
}

#billing .order-summary h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin-bottom: 12px;
}

#billing .order-summary .order_items h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin: 0;
}

#billing .order-summary .order_items .pr_price {
  display: flex;
  align-items: center;
  justify-content: end;
}

#billing .order-summary .order_items .pr_price span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
}

#billing .order-summary .total_amount p:last-child {
  border-bottom: none;
}

#billing .order-summary .total_amount p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---700);
  margin: 0;
  padding: 12px 0;
  border-bottom: 1px solid var(--gray-scale-gray---100);
}

#billing .order-summary .total_amount p span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);

}

#billing .order-summary .total_amount p #checkoutTotal {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: var(--gray-scale-gray---900);
}

#billing .order-summary .payment_head {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin-bottom: 16px;
}

#billing .order-summary .payment_method label {
  display: flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---700);
  align-items: center;
  margin-bottom: 10px;

}

#billing .order-summary .payment_method label input[type="radio"] {
  accent-color: #06a00b;
  margin-right: 5px;
}

#billing .order-summary button {
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray-scale-white);
  padding: 16px 0;
  background: var(--branding-success);
  border-radius: 43px;
  border: none;
  outline: none;
  margin-top: 24px;
}

#billing .order-summary .empty {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--gray-scale-gray---400);
}

/* ================ CSS billing END ================ */

/* ================ CSS prod details START ================ */

/* manual + (A. try) */

/* Wrapper for the entire counter */
.counter-wrapper {
  display: inline-block;
  border: 1px solid #d0d0d0;
  border-radius: 50px;
  background: #f8f9fa;
  padding: 5px 10px;
}

/* Reset TouchSpin default styles */
.counter-wrapper .bootstrap-touchspin {
  border: none;
  background: transparent;
  padding: 0;
}

.counter-wrapper .bootstrap-touchspin .input-group {
  background: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
}

.counter-wrapper .bootstrap-touchspin .form-control {
  border: none;
  background: transparent;
  text-align: center;
  width: 40px;
  font-weight: 500;
  padding: 5px;
  box-shadow: none;
}

.counter-wrapper .bootstrap-touchspin .btn {
  background: transparent;
  border: 1px solid #d0d0d0;
  color: #333;
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

/* Remove hover effect */
.counter-wrapper .bootstrap-touchspin .btn:hover {
  background: transparent;
  color: #333;
  border-color: #d0d0d0;
}

.counter-wrapper .bootstrap-touchspin .btn:focus,
.counter-wrapper .bootstrap-touchspin .form-control:focus {
  outline: none;
  box-shadow: none;
}

/* Wrapper for the entire counter */
.counter-wrapper {
  display: inline-flex;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 50px;
  background: #f8f9fa;
  padding: 5px 10px;
}

/* Reset TouchSpin default styles */
.counter-wrapper .bootstrap-touchspin {
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  /* Add flex */
  align-items: center;
  /* Vertically center */
}

.counter-wrapper .bootstrap-touchspin .input-group {
  background: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  /* Vertically center */
}

.counter-wrapper .bootstrap-touchspin .form-control {
  border: none;
  background: transparent;
  text-align: center;
  width: 40px;
  font-weight: 500;
  padding: 5px;
  box-shadow: none;
}

.counter-wrapper .bootstrap-touchspin .btn {
  background: transparent;
  border: 1px solid #d0d0d0;
  color: #333;
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

/* Remove hover effect */
.counter-wrapper .bootstrap-touchspin .btn:hover {
  background: transparent;
  color: #333;
  border-color: #d0d0d0;
}

.counter-wrapper .bootstrap-touchspin .btn:focus,
.counter-wrapper .bootstrap-touchspin .form-control:focus {
  outline: none;
  box-shadow: none;
}

#product_details {
  padding: 32px 0;
}

#product_details .slider-nav .slick-current img {
  border: 1px solid var(--branding-success);
}

#product_details .slider-nav .up,
.down {
  display: flex;
  align-items: center;
  justify-content: center;
}

#product_details .product_name {
  display: inline-flex;
  align-items: center;
  margin-bottom: 12px;
}

#product_details h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  margin: 0;
  color: var(--gray-scale-gray---900);
}

#product_details .product_name span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--branding-success-dark);
  padding: 4px 8px;
  background: rgba(32, 181, 38, 0.2);
  border-radius: 4px;
  margin-left: 8px;
}

#product_details .rate {
  display: flex;
}


#product_details .rate ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
  /* Space between stars */
}

#product_details .rate ul li {
  display: inline-flex;
  align-items: center;
}

#product_details .rate ul li span {
  display: flex;
  align-items: center;
}

#product_details .rate ul .review {
  margin-left: 10px;
}


/*#product_details ul .review::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -28%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--gray-scale-gray---300);
}*/


#product_details .rate .SKU b {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---800);
}

#product_details .rate .SKU {
  margin-left: 30px;
}

#product_details .SKU span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---600);
}

#product_details .rate ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#product_details .rate ul li span {
  margin-right: 5px;
}

#product_details .price {
  padding: 15px 0;
  border-bottom: 1px solid var(--gray-scale-gray---100);
}

#product_details .price del {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-decoration: line-through;
  color: var(--gray-scale-gray---300);
}

#product_details .price b {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--branding-success-dark);
}

#product_details .price span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--branding-error);
  padding: 3px 10px;
  background: rgba(234, 75, 72, 0.1);
  border-radius: 30px;
  margin-left: 12px;
}

#product_details .brand_row {
  margin-top: 24px;
}

#product_details .brand_row .brand span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin-right: 8px;
}

#product_details .brand_row .share {
  display: flex;
  align-items: center;
  justify-content: end;
}

#product_details .brand_row .share p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin: 0;
}

#product_details .brand_row .share .icons {
  margin-left: 10px;
}

#product_details .brand_row .share .icons span {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 5px;
  transition: 0.3s;
  cursor: pointer;
}

#product_details .brand_row .share .icons span:hover {
  background-color: var(--branding-success);
  color: #fff;
}

#product_details .description p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---500);
  margin-top: 16px;
}

#product_details .cart_row {
  /*padding: 19px 0;*/
  border-top: 1px solid var(--gray-scale-gray---100);
  /*border-bottom: 1px solid var(--gray-scale-gray---100) !important;*/
}

#product_details .cart_row input {
  border: none;
  outline: none;
  box-shadow: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--gray-scale-gray---900);
}

#product_details .cart_row .cart_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 0;
  border: none;
  outline: none;
  border-radius: 43px;
  background: var(--branding-success);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray-scale-white);
}

#product_details .cart_row .cart_btn span {
  margin-left: 16px;
}

#product_details .cart_row .heart {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: var(--branding-success-dark);
  background: rgba(32, 181, 38, 0.1);
  border-radius: 50%;
}

/*additional*/
.cart_row {
  align-items: center;
}

.wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishlist .heart {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*additional*/

#product_details .tags {
  border-top: 1px solid var(--gray-scale-gray---100);
  padding-top: 24px;


}

#product_details .tags p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---500);
  margin: 0;
  margin-bottom: 12px;
}

#product_details .tags p b {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
}

#product_details .tags p a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--gray-scale-gray---900);
}

/* manual + (A. try) - end */
/* ================ CSS prod details END ================ */


/* manual + (A. try) */

/* ================ CSS descriptions START ================ */
#descriptions .tabs-nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  padding: 16px 0;
  border-bottom: 1px solid #e5e5e5;
}

#descriptions .tabs-nav .tabs-nav_drag.active {
  top: 35px !important;
  border-bottom: 2px solid #20b526 !important;

}

#descriptions .tabs-nav__list .active a {
  color: var(--gray-scale-gray---900);
}

#descriptions .tabs-nav_list li {
  margin: 0;
}

#descriptions .tabs-nav_list li a {
  padding: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-gray---500);
}

#descriptions .tabs {
  border: none;
}

#descriptions .contain p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---500);
}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}

#descriptions {}


/* ================ CSS descriptions END ================ */


/* manual + (A. try) - end */

/* ================ CSS newsletter START ================ */

.newsletter {
  padding: 40px 0;
  background: #f7f7f7;
}

.newsletter form {
  display: flex;
  align-items: center;
  position: relative;
}

.newsletter form input {
  height: 100%;
  width: 100%;
  border: 1px solid var(--green-gray-scale-100);
  border-radius: 46px;
  padding: 14px 24px;
  outline: none;
}

.newsletter form input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gren-gray-scale-500);
}

.newsletter form button {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: var(--branding-success);
  border-radius: 43px;
  padding: 14px 40px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--gray-scale-white);
}

.newsletter h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin-bottom: 4px;
}

.newsletter p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---400);
  margin: 0;
}

.newsletter .icons {
  padding: 0;
  display: flex;
  justify-content: space-between;

}

.newsletter .icons span {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.newsletter .icons span:hover {
  background-color: var(--branding-success);
  color: #fff;
}

/* ================ CSS newsletter END ================ */

/* ================ CSS footer START ================ */
/* footer */
#footer {
  background: var(--gray-scale-gray---900);

  color: var(--gray-scale-gray---500);
  padding: 60px 0;
  /*margin-top: 100px;*/

}

#footer .first .contains {
  margin: 16px 0;
}

#footer .first p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---500);
}

#footer .first p b {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-white);
  box-shadow: 0 1px 0 0 #20b526;
  background: var(--gray-scale-gray---900);
  padding: 6px 0px;
}

#footer .first p b:first-child {
  margin-right: 8px;
}

#footer .first p b:last-child {
  margin-left: 8px;
}

#footer .others h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray-scale-white);
  margin-bottom: 20px;
}

#footer .others ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#footer .others ul li {

  margin-bottom: 12px;
}

#footer .others ul li a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---400);
}

#footer .others ul li a:hover {
  color: var(--gray-scale-white);
}

#footer .first_row {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--gray-scale-gray---800);
}

#footer .second_row {
  margin-top: 40px;
  padding-top: 20px;

}

#footer .second_row p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---500);
  margin: 0;
}

#footer .second_row .payment {
  text-align: right;
}

/* ================ CSS footer END ================ */



/* (A. - try)- end */